<%- quotes ||= @quote -%>

<%- unless quotes.blank? -%>
  <h3>
    <span class="hidden-phone">Quotes from the session</span>
    <span class="visible-phone">Quotes</span>
  </h3>
  <%- quotes.each do |quote| -%>
    <blockquote>
      <p><%= quote.quote %></p>
      <small><%= quote.author %></small>
    </blockquote>
  <%- end -%>
<%- end -%>