<%- quotes ||= @quote -%>

<%- unless quotes.blank? -%>
  <h3>
    <span class="hidden-phone">Quotes from the session</span>
    <span class="visible-phone">Quotes</span>
  </h3>
  <%- quotes.each do |quote| -%>
    <blockquote>
      <p><%= quote.quote %></p>
      <%- unless quote.author.blank? -%>
        <small><%= quote.author %></small>
      <%- end -%>
    </blockquote>
  <%- end -%>
<%- end -%>