<%- quotes ||= @quote -%>

<%- unless quotes.blank? -%>
  <h3>Quotes from the session</h3>
  <%- quotes.each do |quote| -%>
    <blockquote>
      <p><%= quote.quote %></p>
      <small><%= quote.author %></small>
    </blockquote>
  <%- end -%>
<%- end -%>