<%- assignments ||= @assignment -%>
<%- unless assignments.blank? -%>
  <h3>Assignments</h3>
  <ul>
    <%- assignments.each do |assignment| -%>
      <li>
        <%- if assignment.link -%>
          <%= link_to(assignment.description, assignment.link) %>
        <%- else -%>
          <%= assignment.description %>
        <%- end -%>
      </li>
    <%- end -%>
  </ul>
<%- end -%>