<%= link_to("STLP #{@newsletter.year}", newsletter_find_path(:year => @newsletter.year), :class=>"brand") %>
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
<%- if @newsletter and @newsletter.year -%>
  <div class="nav-collapse">
    <ul class="nav">
      <%- Newsletter.where(:year => @newsletter.year).each do |newsletter| %>
        <li<%= " class=active" if newsletter.session == @newsletter.session %>><%= link_to("Session #{newsletter.session}", newsletter_find_path(:year=>newsletter.year, :session=>newsletter.session)) %></li>
      <%- end -%>
    </ul>
  </div>
<%- end -%>