// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newsletters {
	h1 {
		text-align: center;
	}
	.session-details {
		@media(max-width: 767px){
			text-align: center;
		} 
	}
	h2.byline {
		text-align: center;
	}
}

.modal {
	form {
	  padding: 0;	
	  margin: 0;
	}
	#quote_quote {
		width: 50%;
	}
}

form.next_steps {
	textarea {
		width: 95%;
	}
}

.help {
	display: inline;
	font-size: 90%;
	color: #999999;
}
.with-help {
	display: inline-block;
}